{% extends 'layout/master-layout.html.twig' %}

{% block body %}
    {% include 'slider/slider.html.twig' %}

    <div class="container mt-5">
        <div class="row">
            {% include 'monthlyBook/monthlyBook.html.twig' %}
            <div class="col-md-8">
            <h1>UNDER CONSTRUCTION</h1>
            
            </div>
        </div>
    </div>
{% endblock %}