<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1 class="section-title"> <b> Mentions légales </b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="sub-section-title"> <b>Comment acheter sur notre site ? </b></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ante massa. Nam non massa ut ipsum porttitor dapibus. Pellentesque dui lacus, mattis sed lacinia eu, convallis sed nisi. In purus sapien, imperdiet nec eleifend sed, fermentum et velit. Cras mollis ultricies consectetur. Vestibulum sit amet nisl tortor, eget tristique odio. Phasellus facilisis varius nisl vitae varius. Sed mi diam, mollis non pulvinar ut, sagittis in tortor. Curabitur et nunc sit amet risus congue dapibus. Nam elementum neque non augue dignissim sit amet tincidunt diam convallis.</p>
            <p>Maecenas placerat urna vitae justo cursus et hendrerit elit tristique. Donec varius dolor eget massa tincidunt hendrerit. Proin at felis justo, varius cursus velit. Vivamus lobortis elit quis eros fermentum vitae rhoncus sem dictum. Maecenas eget augue purus, ac blandit leo. Sed sodales viverra libero sit amet faucibus. Integer posuere tellus et magna interdum ut malesuada nisl dapibus. Praesent pulvinar ante eu est feugiat et facilisis dolor bibendum. Proin ornare pretium justo eu tincidunt. Praesent sapien enim, elementum et commodo sit amet, scelerisque et libero. Quisque luctus tincidunt ante, sit amet aliquet lectus sagittis id. Duis tincidunt eleifend adipiscing. Pellentesque nec quam nisi, sit amet volutpat lectus. Cras ligula arcu, ultricies et venenatis vel, consectetur id justo. Etiam quis metus quis erat consequat tincidunt.</p>
        </div>
        <div class="col-md-6">
            <h2 class="sub-section-title"><b>En cas de problème...</b></h2>
            <p>Morbi luctus, ipsum nec volutpat porta, odio felis hendrerit elit, iaculis tempor dolor sem a augue. Cras eu turpis nec mauris fringilla condimentum. Vestibulum eros lorem, venenatis a varius tincidunt, euismod in nisi. Suspendisse potenti. Aliquam erat volutpat. Cras atpent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec in diam vel purus mattis eleifend. Donec dapibus dictum nisl, tempor posuere diam venenatis quis.</p>
            <p>Integer commodo elementum dui, sed aliquet augue dictum at. Maecenas nec mattis libero. Integer pharetra urna in justo fringilla lacinia. Cras sit amet nisl a arcu placerat consectetur. Donec hendrerit felis ac risus varius lobortis. Duis sit amet magna nec felis rhoncus aliquam ut et nibh. Donec vulputate erat a turpis sollicitudin quis vehicula nulla tincidunt. Donec eleifend ipsum tortor, sollicitudin bibendum dui. Suspendisse tincidunt luctus semper. Suspendisse vestibulum fringilla purus. Integer a ullamcorper ipsum. Sed congue risus sed nunc commodo at fermentum mauris faucibus.</p>
            <p>Pellentesque ut ipsum metus, eu pretium libero. Aenean eu semper diam. Praesent vitae eros felis. Praesent consectetur, turpis ut dapibus luctus, odio tellus vehicula libero, in vehicula justo velit vitae enim. Morbi orci nulla, mattis sed lacinia eu, volutpat in lacus. Morbi ipsum mauris, porta vitae congue eget, consectetur vitae dolor. Suspendisse a diam id orci euismod fringilla porttitor a sapien. Vivamus accumsan ipsum eu ipsum interdum pulvinar.</p>
        </div>
    </div>
</div>