    {% block recommendedBooks %}
<h3 class="mt-5">Voici quelques livres qui peuvent vous intéresser</h3>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="{{ asset('images/livres/medium/harry-potter-et-la-chambre-des-secrets.jpg') }}" class="card-img-top" alt="Harry Potter">
            <div class="card-body">
                <h5 class="card-title">Harry Potter et la chambre des secrets</h5>
                <p class="card-text">J. K. Rowling</p>
                <a href="#" class="btn btn-primary">Voir</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="{{ asset('images/livres/medium/pars-vite-et-reviens-tard.jpg') }}" class="card-img-top" alt="Pars vite et reviens tard">
            <div class="card-body">
                <h5 class="card-title">Pars vite et reviens tard</h5>
                <p class="card-text">Fred Vargas</p>
                <a href="#" class="btn btn-primary">Voir</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="{{ asset('images/livres/medium/le-feu-occulte.jpg') }}" class="card-img-top" alt="Trolls de Troy">
            <div class="card-body">
                <h5 class="card-title">Trolls de Troy : le feu occulte</h5>
                <p class="card-text">Mourier / Arleston</p>
                <a href="#" class="btn btn-primary">Voir</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="{{ asset('images/livres/medium/hyperion-l-integrale.jpg') }}" class="card-img-top" alt="Hyperion">
            <div class="card-body">
                <h5 class="card-title">Hyperion : l'Intégrale</h5>
                <p class="card-text">Dan Simmons</p>
                <a href="#" class="btn btn-primary">Voir</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}