<div class="col-md-4">
    <div class="card mb-4">
        <img src="images/livres/medium/32-decembre.jpg" class="card-img-top" alt="Ce mois-ci">
        <div class="card-body">
            <h5 class="card-title">32 décembre</h5>
            <p class="card-text"><strong>Auteur :</strong> Enki Bilal</p>
            <p class="card-text"><strong>Éditeur :</strong> Casterman</p>
            <p class="card-text">Optus Warhole, le duplicateur d'humains, se nomme un Artiste du Mal Suprême...</p>
            <a href="#" class="btn btn-primary">Acheter (15.50 €)</a>
        </div>
    </div>
</div>