<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <p class="h4"> Copyright 2024 — <b> gigastore </b> </p>
    <p class="text-secondary">Tous droit de reproduction réservés</p>
    <a href="{{ path('mentions_legales_page') }}" class="text-primary" >Mentions légales</a> 
    <a href="url" class="text-primary">CGV</a>

  </div>
</footer>