<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card card-custom">
                <div class="card-body">
                    <h5 class="card-title">Le mot du fondateur</h5>
                    <img src="images/charte/slider/slider-library-bulbs.jpg" class="card-img-top mb-3" alt="Library">
                    <hr>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste corporis quae, animi pariatur quam, blanditiis non quas nesciunt alias recusandae, distinctio odio in fugit magnam. Suscipit unde aspernatur amet est?
                    </p>
                    <p class="card-text">
                        Tenetur dolore doloremque numquam nihil possimus molestiae, rerum eos et, odio sequi beatae distinctio odit voluptates fuga maiores delectus officia atque! Repellat officiis vel at iure et optio ab accusamus!
                    </p>
                </div>
                <div class="card-footer">
                    <hr>
                    <p class="text-end mb-0"><strong>John Doe</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
