<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <img src="images/charte/slider/slider-book-pages.jpg" class="card-img-top" alt="Gigastore">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h1 class="card-title text-white">Gigastore</h1>
                    <p class="card-text text-white">Plus de 100 000 références à des prix imbattables</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row my-4">
        <div class="col-12">
            <h2><i class="bi bi-info-circle-fill"></i> A propos de Gigastore</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Historique de l'entreprise</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ante massa. Nam non massa ut ipsum porttitor dapibus. Pellentesque dui lacus, mattis sed lacinia eu, convallis sed nisi.</p>
        </div>
        <div class="col-md-6">
            <h3>L'entreprise aujourd'hui</h3>
            <p>Morbi luctus, ipsum nec volutpat porta, odio felis hendrerit elit, iaculis tempor dolor sem a augue. Cras et turpis nec mauris fringilla condimentum. Vestibulum eros lorem, malesuada et eros et, vulputate luctus lacus.</p>
        </div>
    </div>
</div>


